// Colors
$gray-light: #f2f2f2;
$gray: #ccc;
$gray-dark: #333;
$red: #F51441;

// Corp-Colors
$corp-color: $gray !default;
$corp-color-second: $red !default;

// Fonts
$base-font-family: Helvetica, Arial, Sans-Serif !default;
$base-font-size: 18px !default;
$base-font-color: $gray !default;

// Misc
$base-border-color: $gray-light !default;
$base-border-radius: 3px !default;

$link-color: $red !default;