/*
 * Buttons
 */

.btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

  :hover,
  :focus {
    color: #333;
    text-decoration: none;
  }

  :active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline: 0;
  }

  &-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
  }
}
