<div id="leftnav-container" class="leftnav-container slideout-menu">
  <div class="clearfix">
    <a href="http://www.example.com/" target="_blank">
      <header class="menu-header">
        <span class="menu-header-title">Title</span>
      </header>
    </a>
    {% include 'weather-animations/sun-shower.html' %}
    <section class="menu-section">
      <ul>
        <li>
          <a href="#">Mail</a>
        </li>
        <li>
          <a href="#">Search</a>
        </li>
        <li>
          <a href="#">Sign In / Join</a>
        </li>
        <li>
          <a href="#">Entertainment</a>
        </li>
        <li>
          <a href="#">Lifestyle</a>
        </li>
        <li>
          <a href="#">News</a>
        </li>
        <li>
          <a href="#">Sports</a>
        </li>
        <li>
          <a href="#">Tech</a>
        </li>
      </ul>
    </section>
  </div>
</div>