<div id="leftnav-container" class="leftnav-container slideout-menu">
  <div class="clearfix">
    <a href="http://www.example.com/" target="_blank">
      <header class="menu__header">
        <span class="menu__header--title">Title</span>
      </header>
    </a>
    {% include 'weather-animations/sun-shower.html' %}
    <section class="menu__section">
      <ul>
        <li>
          <a href="#" class="menu__section-item">Mail</a>
        </li>
        <li>
          <a href="#" class="menu__section-item">Search</a>
        </li>
        <li>
          <a href="#" class="menu__section-item menu__section-item--emphasize">Sign In / Join</a>
        </li>
        <li>
          <a href="#" class="menu__section-item">Entertainment</a>
        </li>
        <li>
          <a href="#" class="menu__section-item">Lifestyle</a>
        </li>
        <li>
          <a href="#" class="menu__section-item">News</a>
        </li>
        <li>
          <a href="#" class="menu__section-item">Sports</a>
        </li>
        <li>
          <a href="#" class="menu__section-item">Tech</a>
        </li>
      </ul>
    </section>
  </div>
</div>