.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ==============
  MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #e44d26;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* ==============
  MOBILE: Main
   ============== */

.wrapper.main {
  margin: 30px auto;
  position: relative;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
  INTERMEDIATE: Menu
   ==================== */

  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

/* ========================
  INTERMEDIATE: IE Fixes
   ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
/* ============
  WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

/* ============
  WIDE: Main
   ============ */

  .main article {
    float: left;
    padding-right: 315px;
    width: 100%;
  }

  .main aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
  }
}

@media only screen and (min-width: 1140px) {

/* ===============
  Maximal Width
   =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}