// 1.Config
$left-nav-width: 200px !default;

// 2.Base
.slideout-menu {
  background-color: #fff;
  border-right: 1px solid #f4f4f4;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: $left-nav-width;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;

    @media only screen and (min-width: 768px) {
      display: block;
      z-index: 10;
    }
}

.slideout-panel {
  background-color: #fff;
  position: relative;
  z-index: 1;

    @media only screen and (min-width: 768px) {
      transform: translate3d(0px, 0px, 0px) !important;
      padding-left: $left-nav-width;

      .toggle-button {
        display: none;
      }
    }
}

.slideout-open {
  &,
  body,
  .slideout-panel {
    overflow: hidden;
  }

  .slideout-menu {
    display: block;
  }
}

.menu__header {
  
}
.menu__section {
  ul {
    padding-left: 0;
    list-style-type: none;
  }

  &-item {
    color: #444;
    display: block;
    padding: 10px 15px 8px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;

   &:hover {
    background-color: #f6f7f7;
   } 
  }
}