{#
  Swig Templating!
  Docs: http://paularmstrong.github.io/swig/docs/
#}

{% extends 'layouts/application.html' %}

{% block body_container_main %}
  <article>
    <header>
      <h1>Gulp All The Things!</h1>
      <button id="button">Load Async Module</button>
    </header>
    <section>
      <p>Bacon ipsum dolor amet jowl tri-tip flank porchetta bresaola ham hock shoulder pig alcatra shank kevin drumstick.  Tenderloin turkey prosciutto ham hock porchetta tongue sirloin.  Pig filet mignon meatloaf bresaola jowl leberkas.  Sirloin jerky swine, chicken andouille kielbasa tri-tip kevin.  Bresaola salami ham hock tenderloin ham.</p>
      <p>Alcatra pancetta flank shoulder cupim pork belly porchetta fatback jerky kevin pork chop ribeye ham hock drumstick pig.  Jowl sirloin porchetta landjaeger.  Meatball tri-tip venison cow porchetta turducken tenderloin alcatra kevin pastrami ball tip shoulder ham chuck turkey.  Sirloin pork turkey spare ribs drumstick doner meatloaf flank cupim ham hock.  Capicola ham hock spare ribs bresaola meatloaf jerky landjaeger beef boudin jowl prosciutto t-bone meatball tenderloin.  Tail tongue brisket, ball tip beef ribs cupim cow tenderloin filet mignon kevin t-bone shankle venison.  Picanha hamburger kevin jowl andouille strip steak sirloin.</p>
      <p>Prosciutto t-bone salami tri-tip, pork chop turkey hamburger corned beef fatback turducken pork loin filet mignon sirloin short loin.  Brisket t-bone tri-tip meatloaf tongue porchetta pancetta picanha bresaola ribeye drumstick.  Meatball short loin biltong rump corned beef salami tri-tip doner pork belly chicken beef ribs prosciutto pork chop.  Biltong tenderloin tail, alcatra landjaeger spare ribs jerky jowl boudin ball tip short ribs sirloin venison.  Cupim filet mignon flank, doner leberkas short loin cow ground round.  Tri-tip fatback pancetta pork belly turkey.</p>
    </section>
    <footer>
      <h4>Byline: Article Footer</h4>
      <small>Tags:</small>
    </footer>
  </article>

  <aside>
    <h3>Right Rail</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
  </aside>
{% endblock %}

{% block body_js_page %}
<script src="assets/javascripts/articleController.js"></script>
{% endblock %}
